#logo{
	margin: 0;
	display: inline-block;
	padding: 0 10px;
	max-width: 20%;
	min-width: 20%;
}

.header-text{
	padding: 0 10px;
	max-width: 50%;
	min-width: 50%;
}

.header-column{
	box-sizing: content-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-info{
	text-align: end;
	padding: 0 10px;
	max-width: 30%;
	min-width: 30%;
}

.site-header {
	padding: 10px;
	background-position: center center;
	position: relative;
	border-bottom: 1px solid transparent;
}

.header-column .button{
	position: absolute;
	bottom: 0;
	right: 0;
}

.set-logo{
	max-width: 200px;
	max-height: 200px;
	margin: 20px;
}