.map{
	height: 500px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.settings-map{
	width: 100%;
	height: 400px;
	padding: 20px;
}

.cont-map{
	padding-left: 0;
	padding-right: 0;
}