.slider{

}

.sl-slide{
	position: relative;
}

.sl-text{
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	width: 100%;
	color: #fff;
	/*padding: 20px 0;*/
	text-shadow: rgba(0,0,0,0.4);
	text-align: center;
	/*margin: 5px;*/
}

.sl-header{
	font-size: 20px;
	padding: 10px;
}

.sl-img{
	width: 100%;
	max-height: 650px;
	overflow: hidden;
	object-fit: cover;
}

.slick-prev{
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;
}

.slick-next{
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;
}

.slider-img{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.sl-slide{
	margin: 5px;
}

.sliders-panel{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sliders-panel-slide{
	display: flex;
	flex-direction: row;
	border: 1px solid grey;
	margin-bottom: 5px;
}

.sliders-panel-desc{
	margin: 10px;
}

.sett-desc{
	margin: 3px;
}

.images-slider{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.add-slide-btn{
	margin: 10px;
}
